body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h1{
    color: blue;
}
input[type="text"]{
    padding: 8px;
    font-size: 16px;
}
button{
    padding: 8px;
    font-size: 16px;
    background-color: aquamarine;
    color: white;
    cursor: pointer;
}
button.hover{
    background-color: black;

}